@model Missing_Person.ViewModel.DisplayAllViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    Layout = "_Layout";
}

<h2 class="display-4">Missing Person</h2>

<div class="row">
    @foreach (var missingPerson in Model.MissingPeople)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/@missingPerson.ImageUrl" class="card-img-top" alt="Missing Person Image" sizes="150px">
                <div class="card-body">
                    <h4 class="card-title">@missingPerson.Name</h4>
                    <p class="card-text">@missingPerson.Description</p>
                    <a href="@Url.Action("Details", "MissingPerson", new { id = missingPerson.Id })" class="btn btn-primary">See Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = await userManager.GetUserAsync(User);
                        var role = await userManager.GetRolesAsync(user);
                        if (role.Contains("Admin"))
                        {
                            if (missingPerson.IsApproved == false)
                            {
                                <a href="@Url.Action("Approve", "UserRoleManager", new { id = missingPerson.Id })" class="btn btn-success">Approve</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Disapprove", "UserRoleManager", new { id = missingPerson.Id })" class="btn btn-danger">Disapprove</a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
