@model Missing_Person.ViewModel.DisplayAllUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    ViewBag.Title = "User Details";
}

<h1 class="display-3">User Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dd class="col-sm-9 disabled visually-hidden">@Model.user.Id</dd>
                <dt class="col-sm-3">First Name:</dt>
                <dd class="col-sm-9">@Model.user.FirstName</dd>

                <dt class="col-sm-3">Last Name:</dt>
                <dd class="col-sm-9">@Model.user.LastName</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.user.UserName</dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">@Model.user.Address</dd>

                <dt class="col-sm-3">City:</dt>
                <dd class="col-sm-9">@Model.user.City</dd>

                <dt class="col-sm-3">Country:</dt>
                <dd class="col-sm-9">@Model.user.Country</dd>
            </dl>
            @if (User.Identity.IsAuthenticated)
            {
                var userx = await userManager.GetUserAsync(User);
            if (userx.Id == Model.user.Id)
                {
                    <a href="@Url.Action("Edit", "User", new { user = Model.user.Id })" class="btn btn-primary">Edit</a>
                }
            }
                             
        </div>
    </div>
</div>
