@model Missing_Person.ViewModel.DisplayAllUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    ViewBag.Title = "User Details";
}

<h1 class="display-3">Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dd class="col-sm-9 disabled visually-hidden">@Model.user.Id</dd>
                <dt class="col-sm-3">First Name:</dt>
                <dd class="col-sm-9">@Model.user.FirstName</dd>

                <dt class="col-sm-3">Last Name:</dt>
                <dd class="col-sm-9">@Model.user.LastName</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.user.UserName</dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">@Model.user.Address</dd>

                <dt class="col-sm-3">City:</dt>
                <dd class="col-sm-9">@Model.user.City</dd>

                <dt class="col-sm-3">Country:</dt>
                <dd class="col-sm-9">@Model.user.Country</dd>
            </dl>
            
        </div>
    </div>
</div>

<style>
    .display-3 {
        font-size: 28px;
        font-weight: normal;
        color: #e63946;
        margin-bottom: 30px;
    }

    .container {
        margin-top: 50px;
    }

    .row {
        margin-bottom: 20px;
    }

    dl.row {
        font-size: 18px;
    }

    dt.col-sm-3 {
        font-weight: normal;
        color: #457b9d;
        margin-bottom: 5px;
    }

    dd.col-sm-9 {
        color: #333;
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #457b9d;
        border-color: #457b9d;
        color: #fff;
    }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #1d3557;
            border-color: #1d3557;
        }
</style>
