@model Missing_Person.ViewModel.DisplayAllUser

@{
    ViewBag.Title = "User Details";
}

<div class="container">
    <h1 class="display-4">Profile Details</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">First Name:</dt>
                <dd class="col-sm-9">@Model.user.FirstName</dd>

                <dt class="col-sm-3">Last Name:</dt>
                <dd class="col-sm-9">@Model.user.LastName</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.user.UserName</dd>

                <dt class="col-sm-3">Password:</dt>
                <dd class="col-sm-9">@Model.user.Password</dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">@Model.user.Address</dd>

                <dt class="col-sm-3">City:</dt>
                <dd class="col-sm-9">@Model.user.City</dd>

                <dt class="col-sm-3">Country:</dt>
                <dd class="col-sm-9">@Model.user.Country</dd>
            </dl>

            <a href="@Url.Action("Edit", "User", new { id = Model.user.Id })" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    .display-4 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #e63946;
    }

    .row {
        margin-bottom: 20px;
    }

    dl.row {
        margin-bottom: 30px;
    }

    dt {
        font-weight: normal;
        color: #555;
    }

    dd {
        font-weight: normal;
        color: #333;
    }

    .btn-primary {
        background-color: #457b9d;
        border-color: #457b9d;
        color: #fff;
    }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #1d3557;
            border-color: #1d3557;
        }

        .btn-primary:active,
        .btn-primary.active {
            background-color: #0b2441;
            border-color: #0b2441;
        }
</style>
